<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Aperam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/oc/crear">Crear Orden de compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bobina/crear">Crear bobina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ot/crear">Crear orden de trabajo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/oc/calidad">Control de calidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ot/corroboracion">Corroboracion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ot/disposicion">Disposicion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ot/ubicacion">Ubicacion</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
